{% extends 'base.html.twig' %}

{% block title %}Gato3 index{% endblock %}

{% block body %}
    <h1>Gato3 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aaaaa</th>
                <th>Bbbbbb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gato3 in gato3s %}
            <tr>
                <td>{{ gato3.id }}</td>
                <td>{{ gato3.aaaaa }}</td>
                <td>{{ gato3.bbbbbb }}</td>
                <td>
                    <a href="{{ path('gato3_show', {'id': gato3.id}) }}">show</a>
                    <a href="{{ path('gato3_edit', {'id': gato3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gato3_new') }}">Create new</a>
{% endblock %}
