{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {#
                <th>LastName</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Notes</th>
                #}
                <th>Email</th>
                <th>Username</th>
                {#
                <th>Roles</th>
                #}
                <th>Password</th>
                <th>IsActive</th>
                <th>IsEnabled</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    {#
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.notes }}</td>
                    #}

                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    {# <td>{{ user.roles }}</td> #}
                    <td>{{ user.password }}</td>
                    <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                    <td>{{ user.isEnabled ? 'Yes' : 'No' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class=" btn-primary btn-sm" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a class=" btn-primary btn-sm" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="15">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
